{% extends 'base.html' %}
{% load static %}{#画像フォルダをいんぽーと#}
{% block main %}
<header class="header">
  <div class="container">
    <div class="text-center">
      <div class="mb-4">
        <img src="{% static 'assets/img/profile.jpg' %}" height="180" width = "180" class="rounded-circle img-center-cover">
      </div>
      <div>
        <h2 class="text-dark header-title mb-3">{{profile.name}}</h2>
        <div class="mb-3">{#マージンボトム３#}
          {% if profile.carrer %}
            <span>{{profile.carrer}}</span>
            <span>/</span>
          {% endif %}
          {% if profile.org %}
            <span>{{profile.org}}</span>{#所属している組織#}
            {% if profile.age %}
              <span>/</span>{#文末が/で終わるのを避けるため#}
            {% endif %}
          {% endif %}
          {% if profile.age %}
            <span>{{profile.age}}歳</span>
          {% endif %}
        </div>
      </div>
      <div class="mb-4">
        {% if profile.twitter %}
          <a href="{{profile.twitter}}"target="_blank">
            <i class="fa-brands fa-github sns-icon text-dark"></i>
          </a>
        {% endif %}
        {% if profile.facebook %}
          <a href="{{profile.facebook}}"target="_blank">
            <i class="fa-brands fa-facebook sns-icon text-facebook"></i>
          </a>
        {% endif %}
        {% if profile.instagram %}
          <a href="{{profile.instagram}}"target="_blank">
            <i class="fa-brands fa-instagram sns-icon text-instagram"></i>
          </a>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div class="jumbotron bg-light py-4">
            <div class="container" style="text-align:left"><!---左寄せ-->
              <p class="lead text-dark">
                {{profile.introduction|safe|linebreaksbr}}{#linebreakesbrで改行を読み込む#}
              </p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</header>
<section class="mb-100">
  <div class="container">
    <div>
      <h3 class="display-4 fw-bold text-primary">SKILLS</h3>
    </div>
    <div class="row">
      <div class="col-md-10 mx-auto py-4">
        <table class="table table-borderless">
          {% for skill in skills %}
          <tr>
            <td class="align-midle h4 fw-bold text-dark">{{skill.name}}</td>
            <td class="align-midle"><span class="badge bg-primary py-1 px-2 font-14">
              {%if skill.years%}{{skill.years}}年{%endif%}{% if skill.months %}{{skill.months}}ヶ月{% endif %}
            </span></td>
            <td class="align-midle">{{skill.description}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</section>

<section class="mb-5">
  <div class="container">
    <div>
      <h3 class="display-4 fw-bold text-primary">Works</h3>

      <div class="row">
          {% for work in works %}
        <div class="col-lg-4 mb-3">
          <a href="{{work.url}}" target="_blank" class="color-inherit"><!--target="_blankで別タブで開く-->
            <div class="card shadow-sm border border-light">
              <div>
                <img
                  src="{% if work.image %}{{work.image.url}}{% else %}{%static 'assets/img/code.jpg'%}{% endif %}"
                  class="w-100 img-center-cover" height="200" alt="">
              </div>
              <div class="p-3">
                <h5 class="text-dark mb-0">{{work.title}}</h5>
              </div>
              <div class="text-end">公開日:{{work.published}}</div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>

      <div class="text-end">
        <a href="{% url 'portfolio:works' %}"class="btn btn-primary">view all works <i class="fa-solid fa-list-ul pl-1"></i></a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% comment %} <div class="card" style="width: 18rem;">
  <a href="">
    <img src="{% static 'assets/img/profile.jpg'%}"class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title ver2</h5>
    </div>
  </a>
</div>  カードを表示する別の方法{% endcomment %}